body {
  color: yellow;
}

.remark-slide-content {
  background-color: black;
}

.left-column {
  width: 50%;
  float: left;
}

.right-column {
  width: 50%;
  float: right;
}

.remark-slide-number {
  opacity: 0;
}
